.big-label {
  font-size: 60pt;
  font-weight: 800;
}

.grid-container > * {
  border-radius: 0px;
  transition: background-color 0.200s ease-in-out;
}

.top-left {
  border-top-left-radius: 12px;
}

.top-right {
  border-top-right-radius: 12px;
}

.bottom-left {
  border-bottom-left-radius: 12px;
}

.bottom-right {
  border-bottom-right-radius: 12px;
}
